{% comment %}
src: the parameter set when you call this include, like {% include iframe.html src="XXX" %}
ratio: the aspect ratio of iframe , by default, it is 56.25%(16:9), for bilibili iframe has an extra recommadation bar, the ratio is 70%.
type: the domain of this iframe url, if src is a local pdf file, type will be 'pdf', and the src will add a prefix to use viewer-js to display this file.

Author: @Univerone
GitHub: https://github.com/univerone
Blog: https://wechaty.js.org/2020/08/24/add-video-to-wechaty-blog/

{% endcomment %}

{% assign src = include.src %}
{% assign ratio = '56.25%' %}

{% if src contains '.pdf' %}
  {% assign type = 'pdf' %}
{% else %}
  {% assign type = src | split: '//' | last | split: '/' | first %}
{% endif %}

{% case type %}
  {% when "pdf" %}
    {% assign src = '/assets/js/viewer-js/#' | append: src %}
  {% when 'www.bilibili.com' or 'player.bilibili.com' %}
    {% assign ratio = '70%' %}
    {% assign src = src | replace: "www.bilibili.com/video/BV", "player.bilibili.com/player.html?bvid=BV" | replace: "www.bilibili.com/video/av", "player.bilibili.com/player.html?aid=" | append: "&high_quality=1" %}
  {% when 'youtu.be' or 'www.youtube.com' %}
    {% assign src = src | replace: "watch?v=", "embed/" | replace: "youtu.be", "www.youtube.com/embed"  %}
  {% when 'v.qq.com' %}
    {% assign ratio = '60%' %}
    {% assign src = src | replace: ".html", "" | replace: "x/page/", "txp/iframe/player.html?vid="  %}
  {% when 'v.youku.com' %}
    {% assign src = src | replace: ".html", "" | replace: "v.youku.com/v_show/id_", "player.youku.com/embed/"  %}
{% endcase %}

<div style="
    position: relative;
    padding-bottom: {{ ratio }};
    padding-top:30px;
    height:0;
    overflow:hidden;
">
  <iframe
    src='{{ src }}'
    allowfullscreen
    webkitallowfullscreen
    frameborder="0"
    style="
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    "
  >
</iframe>

</div>
