<div class="col-md-12">
  <div class="row align-items-center">
    <div class="col-md-3 text-left" style="min-width: 160px;">
      <img alt="{{ page.name }}" src="{{ page.avatar }}" class="rounded-circle" height="160" width="160">
    </div>
    <div class="col">
      <h1 class="font-weight-bold">{{page.name}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ page.twitter }}">Follow</a></span></h1>
      <p><a href="{{ page.site }}">{{ page.site }}</a></p>
      <p class="excerpt">{{ page.bio }}</p>
    </div>
  </div>
</div>

<div class="container-lg pt-4 pb-4">
  <div class="row justify-content-center">

    {% include share.html %}

    <div class="col-md-12 col-lg-8">

    <div class="page-content mb-5">

      {{ content }}

    </div>
  </div>
</div>
