<div class="col-lg-6 mb-4">
  <div class="p-4 border rounded">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0" style="min-width: 110px;">
        <a href="{{site.baseurl}}/{{ item_type }}/{{ item.slug }}/">
          <img alt="{{ item.name }}" src="{{ item.avatar }}" class="rounded-circle" height="80" width="80">
        </a>
      </div>
      <div class="col" >
        <a href="{{site.baseurl}}/{{ item_type }}/{{ item.slug }}/">
          <h4 class="text-dark mb-0"> {{ item.name }} </h4>
          <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Profile)</small>
          <div class="excerpt">{{ item.bio }}</div>
        </a>
        <div class="icon-block mt-3 d-flex justify-content-between">
          <div>
            <a target="_blank" href="{{ item.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
            <a target="_blank" href="{{ item.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
