<!-- Share -->
<div class="col-lg-2 pr-4 mb-5 col-md-12">
  <div class="sticky-top sticky-top-offset text-center">
    <div class="text-muted">
    </div>
    <div class="share d-inline-block">
      <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_wechat" title='Wechat'>
          <img id="qrcode" title="Wechat"
            src="/assets/contributors/wechaty/icon.png"
            width="64" height="64"
          />
        </a>
        <a class="a2a_button_wechat" title='Wechat'></a>
        <a class="a2a_button_sina_weibo" title='Weibo'></a>
        <a class="a2a_button_linkedin" title='LinkedIn'></a>
        <a class="a2a_button_facebook" title='FaceBook'></a>
        <a class="a2a_button_twitter" title='Twitter'></a>
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <!-- AddToAny BEGIN -->
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
    </div>
  </div>
</div>

<script>
  var href = document.location.href
  var url = 'https://api.qrserver.com/v1/create-qr-code/?data='
            + href
            + '&size=512x512'
  var img = document.getElementById('qrcode')

  img.src=encodeURI(url)
</script>
