<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/blog/">Blog</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/developers/">Developers</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/talks/">Talks</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://wechaty.js.org" target="_blank">Docs</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/get-started.html">Get Started</a>
</li>
</li>
