<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/news/">News</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/community/">Community</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/docs/">Docs</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/developers/">Developers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://github.com/wechaty/wechaty-getting-started" target="_blank">Get Started</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://github.com/wechaty/PMC#wechaty-committers" target="_blank">Talks</a>
</li>
