@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.body {
  max-width: 100%;
  overflow-x: hidden;
}
.sponsorsHeadline {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 10%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 0px;
  }
  
  .sponsorsRectangle {
    position: relative;
    width: 160px;
    height: 20px;
    background-color: #d2ffca;
    border-radius: 50px;
    left: 10%;
    top: 125px;
  }
  
  .sponsorsSectionWrapper {
    width: 100%;
    margin-top: 220px;
  }
  
  .sponsorsFirstSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 200px;
    overflow-y: hidden;
  }
  
  .sponsorsSecondSection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 200px;
    margin: 0 9%;
    overflow-y: hidden;
  }
  
  .sponsorsOne {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sponsorsTwo {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sponsorsThree {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sponsorsFour {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sponsorsFive {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sponsorsSix {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0 18% 0 0;
  }
  
  .sponsorsSeven {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    background: #f4fff2;
    border-radius: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sponsorsOneImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    left: 20%;
    bottom: -17%;
    width: 62%;
  }
  
  .sponsorsTwoImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    left: 18%;
    bottom: -16%;
  }
  
  .sponsorsThreeImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    left: -5%;
    bottom: -39%;
  }
  
  .sponsorsFourImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    border-radius: 682%;
  }
  
  .sponsorsFiveImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    left: 13%;
    bottom: -16%;
  }
  
  .sponsorsSixImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    left: -4%;
    bottom: -41%;
  }
  
  .sponsorsSevenImage {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    left: 13%;
    bottom: -16%;
  }

  @media only screen and (max-width: 700px) {
    .sponsorsHeadline {
        font-size: 24px;
        margin-top: -20px;
      }
      .sponsorsRectangle {
        position: relative;
        width: 160px;
        height: 15px;
        top: 95px;
      }
      .sponsorsSectionWrapper {
        margin-top: 150px;
      }
      .sponsorsFirstSection {
        height: 90px;
      }
      .sponsorsSecondSection {
        height: 90px;
      }
      .sponsorsOne {
        width: 70px;
        height: 70px;
      }
      .sponsorsTwo {
        width: 70px;
        height: 70px;
      }
      .sponsorsThree {
        width: 70px;
        height: 70px;
      }
      .sponsorsFour {
        width: 70px;
        height: 70px;
      }
      .sponsorsFive {
        width: 70px;
        height: 70px;
      }
      .sponsorsSix {
        width: 70px;
        height: 70px;
        margin: 0 18% 0 0;
      }
      .sponsorsSeven {
        width: 70px;
        height: 70px;
      }
      .sponsorsTwoImage {
        width: 45px;
      }
      .sponsorsFiveImage {
        width: 55px;
      }
      .sponsorsSevenImage {
        width: 55px;
      }
  }

  @media only screen and (max-width: 1200px) and (min-width: 700px) {
    .sponsorsHeadline {
        font-size: 28px;
      }
    
      .sponsorsRectangle {
        top: 120px;
        width: 140px;
        height: 18px;
      }
    
      .sponsorsSectionWrapper {
        margin-top: 190px;
      }
    
      .sponsorsOne {
        width: 120px;
        height: 120px;
      }
    
      .sponsorsTwo {
        width: 120px;
        height: 120px;
      }
    
      .sponsorsThree {
        width: 120px;
        height: 120px;
      }
    
      .sponsorsFour {
        width: 120px;
        height: 120px;
      }
      
      .sponsorsFive {
        width: 120px;
        height: 120px;
      }
    
      .sponsorsSix {
        width: 120px;
        height: 120px;
      }
    
      .sponsorsSeven {
        width: 120px;
        height: 120px;
      }
    
      .sponsorsTwoImage {
        width: 80px;
      }
    
      .sponsorsFiveImage {
        width: 90px;
      }
    
      .sponsorsSevenImage {
        width: 90px;
      }
    
  }