---
title: About
layout: page-sidebar
permalink: "/about.html"
image: assets/2015/12-five-years/group-photo-2k.jpg
comments: true
---

{% assign preangel = site.contributors | where: 'slug', 'preangel' | first %}

{% assign partners = '' | split: ',' %}
{% for person in site.peoples %}
  {% if preangel.people contains person.slug %}
     {% assign partners = partners | push: person %}
  {% endif %}
{% endfor %}

<div class="container">
<div class="row gap-y listrecent listauthor">
  {% assign item_type = 'peoples' %}
  {% for item in partners %}
    {% include main-loop-card-item.html %}
  {% endfor %}

</div>
</div>

[![Wechaty](https://wechaty.github.io/wechaty/images/wechaty-logo-green-en.png)](https://github.com/wechaty/wechaty)

## CONNECTING CHATBOTS

Wechaty is a Bot SDK for Wechat **Individual** Account which can help you create a bot in 6 lines of javascript,
with cross-platform support including [Linux](https://github.com/wechaty/wechaty/actions),
[Windows](https://github.com/wechaty/wechaty/actions), [Darwin(OSX/Mac)](https://github.com/wechaty/wechaty/actions)
and [Docker](https://github.com/wechaty/wechaty/actions).

## VOICE OF DEVELOPERS

> "Wechaty is a great solution, I believe there would be much more users recognize it." [link](https://github.com/wecha
ty/wechaty/pull/310#issuecomment-285574472)
> &mdash; <cite>@Gcaufy, Tencent Engineer, Author of [WePY](https://github.com/Tencent/wepy)</cite>
>
> "太好用，好用的想哭"
> &mdash; <cite>@xinbenlv, Google Engineer, Founder of HaoShiYou.org</cite>
>
> "最好的微信开发库" [link](http://weibo.com/3296245513/Ec4iNp9Ld?type=comment)
> &mdash; <cite>@Jarvis, Baidu Engineer</cite>
>
> "Wechaty让运营人员更多的时间思考如何进行活动策划、留存用户，商业变现" [link](http://mp.weixin.qq.com/s/dWHAj8XtiKG-1f
IS5Og79g)
> &mdash; <cite>@lijiarui, CEO of BotOrange.</cite>
>
> "If you know js ... try Wechaty, it's easy to use."
> &mdash; <cite>@Urinx Uri Lee, Author of [WeixinBot(Python)](https://github.com/Urinx/WeixinBot)</cite>

See more at [Wiki:Voice Of Developer](https://github.com/wechaty/wechaty/wiki/Voice%20Of%20Developer)

## My Talk

**Wechaty 101: from v0.0 to v0.7** at [Node Party Beijing](https://github.com/rockq-org/node-party) on Dec 2016

### Talk Video

<div class="video-container" style="
    position: relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
">
<iframe width="560" height="315" src="https://www.youtube.com/embed/39TteTtCkd4" frameborder="0" allowfullscreen="" sty
le="
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
"></iframe></div>

### Presentation Slides

<div class="video-container" style="
    position: relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
">
<iframe width="560" height="315" src="https://docs.google.com/presentation/d/13oUOIEnzdLWO6KZWztD_pMuu22AQ3SIMjk2wp8f-f
18/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="" style="
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
"></iframe></div>

_Wechaty 101_ Slides is hosted on Google Slides(Docs) at [here](https://docs.google.com/presentation/d/13oUOIEnzdLWO6KZ
WztD_pMuu22AQ3SIMjk2wp8f-f18/edit?usp=sharing)


Made with <i class="fa fa-heart text-danger"></i> by <a href="/contributors/huan/">@Huan</a>
