# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: GitHub Pages CI

on:
  - push
  - pull_request

jobs:
  test:
    name: Test & Build
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-modules
          restore-keys: |
            ${{ runner.os }}-node-

      - name: NPM Install
        run: npm install
      - name: NPM Test
        run: npm test

      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-bundles
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle Config
        run: bundle config path vendor/bundle
      - name: Install Dependencies
        run: make install
      - name: Build
        run: npm run build

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    name: Deploy GitHub Pages
    needs: [test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 12.x ]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-modules
        restore-keys: |
          ${{ runner.os }}-node-
    - uses: actions/cache@v2
      # https://github.com/actions/cache/blob/main/examples.md#ruby---bundler
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-bundles
        restore-keys: |
          ${{ runner.os }}-gems-
    - name: Bundle Config
      run: bundle config path vendor/bundle

    - name: Config Git
      run: |
        git config --global user.name 'Huan @ GitHub Action'
        git config --global user.email 'zixia@zixia.net'
    - name: Create orphan branch for gh-pages
      run: |
        git checkout --orphan gh-pages
        git reset --hard
        git commit --allow-empty -m "Orphan init"
        git checkout master
    - name: Install dependencies
      run: |
        make install
    - name: Bind git worktree with new-gh-pages folder and gh-pages branch
      run: |
        rm -fr new-gh-pages
        git worktree add new-gh-pages gh-pages
    - name: Build and copy all homepage files to new-gh-pages/ together
      run: |
        bash -x ./scripts/build-all.sh new-gh-pages
    - name: Deploy new-gh-pages
      run: |
        pushd new-gh-pages
        git add --all
        git commit -m "$(jq -r .version ../package.json)"
        git push -f origin gh-pages
        popd
    - name: Unbind new-gh-pages folder from gh-pages branch
      run: |
        git worktree remove new-gh-pages
        git branch -D gh-pages
        rm -fr new-gh-pages
